<div class="card">
    <div *ngIf='errorMessage'class='alert alert-danger'>
        Error: {{ errorMessage }}
    </div>
    <div *ngIf='successMessage'class='alert alert-success'>
        Success: {{ successMessage }}
    </div>
    <h5 class="card-header">Edit User</h5>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
            <div class="form-row">
                <div class="form-group col-6">
                    <label>FirstName</label>
                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" minlength="4"/>
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">firstName is required</div>
                        <div *ngIf="f.firstName.errors.minlength">Min length is 4</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>lastName</label>
                    <input type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" minlength="4"/>
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">lastName is required</div>
                        <div *ngIf="f.lastName.errors.minlength">Min length is 4</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>email</label>
                    <input type="email" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">email is required</div>
                        <div *ngIf="f.email.errors.email">a valid email is required </div>
                    </div>
                </div>
            </div>
            <div class='card-footer'>
                <button class='btn btn-outline-info'
                        style='width:80px'
                        (click)='onBack()'>
                  <i class='fa fa-chevron-left'></i> Back
                </button>
                <button class="btn btn-outline-primary" style='width:100px'>                  
                    <i class='fa fa-chevron-left'></i> Register
                </button>
                <button class="btn btn-outline-secondary" style='width:80px' type="reset" (click)="onReset()">
                    <i class='fa fa-chevron-left'></i> Rest
                </button>
            </div>
      </form>
    </div>
</div>