<div *ngIf='errorMessage'class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>
<div *ngIf='successMessage'class='alert alert-success'>
    Success: {{ successMessage }}
</div>
<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='contacts.length'>
          <thead>
            <tr>
              <th>Code</th>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let contact of contacts'>
              <td>
                <a [routerLink]="['/contacts', contact.id]">
                  {{ contact.id }}
                </a>
              </td>
              <td>{{ contact.firstName }}</td>
              <td>{{ contact.lastName }}</td>
              <td>{{ contact.email }}</td>
              <td>
                <button type="button" class="btn btn-link" (click)="delete(contact.id)">delete</button>
                <a [routerLink]="['/contacts/edit', contact.id]">
                    Edit
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div  class='card-footer'>
      <a [routerLink]="['/contacts/create']">
        Create a new contact
      </a>
    </div>
  </div>
