<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
  
    <div class='card-body'
         *ngIf='contact'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='row'>
            <div class='col-md-4'>FirstName:</div>
            <div class='col-md-8'>{{contact.firstName}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>LastName:</div>
            <div class='col-md-8'>{{contact.lastName}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Email:</div>
            <div class='col-md-8'>{{contact.email}}</div>
          </div>
        </div>
      </div>
    </div>
  
    <div class='card-footer'>
      <button class='btn btn-outline-secondary'
              style='width:80px'
              (click)='onBack()'>
        <i class='fa fa-chevron-left'></i> Back
      </button>
      <button class='btn btn-outline-secondary'
            style='width:80px'
            (click)='onEdit()'>
        <i class='fa fa-chevron-left'></i> Edit
      </button>
    </div>
  </div>