#page-container {
    position: relative;
    min-height: 100vh;  /* height: 100vh = 100% of the viewport height */
    display: flex;
    flex-direction: column;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  section {
    margin-top: 100px;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    text-align: center;
  }
  