
<div class='container' id="page-container">
  <div id="content-wrap">
    <header>
      <nav class='navbar navbar-expand navbar-light bg-light'>
        <a class='navbar-brand'>{{title}}</a>
        <div class='collapse navbar-collapse justify-content-end'>
          <span> {{user}} </span>
          <button type="button" class="btn btn-link" (click)="logout()">logout</button>
        </div>  
      </nav>
    </header>
    <section>
      <router-outlet></router-outlet>
    </section>
</div>
<footer>
  <p> © 2023 Copyright : SAKHRI Mohamed Amine</p>
</footer>
</div>